{{ block "home" . }}
<!DOCTYPE html>
<html>
    <head>
        <title>GenshinCal</title>
        <meta charset="utf-8" />
        <script src="./js/func.js"></script>
        <script src="./js/jquery-3.5.1.min.js"></script>
    </head>
    <body onload="init(['reliquaryMain','reliquaryAffix'])">
        <form name="test" method="get">
            <table>
                <tr>
                    <td align="center">
                        <span >角色</span>
                    </td>
                    <td align="center">
                        <span id="weaponSkillAffixResult" href="#" title="">武器</span>
                    </td>
                    <td align="center">
                        <span >圣遗物</span>
                    </td>
                    <td align="center">
                        <span >圣遗物套装效果</span>
                    </td>
                    <td align="center">
                        <span >其它</span>
                    </td>
                    <td align="center">
                        <span >怪物</span>
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        {{template "characterSelect" .Avatar}}
                    </td>
                    <td align="center">
                        {{template "weaponSelect" .Weapon}}
                    </td>
                    <td align="center">
                        
                    </td>
                    <td align="center">
                        
                    </td>
                    <td align="center">
                        
                    </td>
                    <td align="center">
                        {{template "monsterSelect" .Monster}}
                    </td>
                </tr>
                <tr>
                    <td align="center" valign = "top">
                        {{template "characterResult" ""}}
                    </td>
                    <td align="center" valign = "top">
                        {{template "weaponResult" ""}}
                    </td>
                    <td align="center" valign = "top">
                        {{template "reliquary" .GetReliquaryList}}
                    </td>
                    <td align="center" valign = "top">
                        {{template "reliquarySet" ""}}
                    </td>
                    <td align="center" valign = "top">
                        {{template "other" ""}}
                    </td>
                    <td align="center" valign = "top">
                        {{template "monsterResult" ""}}
                    </td>
                </tr>
            </table>        
        </form>
    </body>
</html>
{{ end }}