{{ define "reliquary" -}}
{{range $pos,$val := . -}}
<span>{{$pos}}号</span>
<div id="reliquaryDiv{{$pos}}" onchange=";">
    {{range $i,$v := . -}}
    {{range $ii,$vv := $v -}}
    {{$isMain := eq $i 0 -}}
    <select id="reliquary{{$pos}}{{$ii}}" onchange="hideOtherSelect('{{$pos}}','{{$ii}}');{{if $isMain}}setReliquaryMainValue('{{$pos}}','{{$ii}}');{{else}}resetReliquaryAffixValue('{{$pos}}','{{$ii}}');{{end}}">
    <option value=""></option>
    {{range $i,$v := . -}}
    <option value="{{index $v 1}}" propName="{{index $v 0}}">{{index $v 2 | html}}</option>
    {{- end}}
    </select>
    <input type="number" step="0.01"  id="reliquary{{$pos}}{{$ii}}Value" {{if not $isMain}}onchange="setReliquaryCloseValue('{{$pos}}','{{$ii}}');" onwheel="setReliquaryAffixValueByWheel('{{$pos}}','{{$ii}}');" {{end}} value=0 readonly />
    {{if not $isMain -}}
    <input type="button" value="+" onclick="addReliquaryAffixValue('{{$pos}}','{{$ii}}');">
    <input type="button" value="-" onclick="subReliquaryAffixValue('{{$pos}}','{{$ii}}');">
    {{- end}}
    <br>
    {{- end}}
    {{- end}}
</div>
{{- end}}
{{- end }}